#no image file
*.png
*.jpeg

#no output file
*.o
caputeOpenCV
imgsaved1114/captureOpenCV.c
MODE2backup.txt
2017embcar_final.zip
123/2/fdifferencial.txt
123/sensorlog.txt
123/caputreImage2/sensorlog.txt
123/captureImage4/sensorlog.txt
123/captureImage.tar.gz
123/3번주행/sensorlog.txt
123/2/fsensor.txt
123/fsensor.txt
123/fdifferencial.txt
123/captureImage3/sensorlog.txt
