#no image file
*.png
*.jpeg

#no output file
*.o
caputeOpenCV
captureOpenCV2.c
main.c
saveobstacle 10.jpg
white_check.c
obs2.c
obs1.c
yj/captureOpenCV.c
blackseriesbackup.txt
1112/yuvimg_on_3way.zip
parkingmerge.c
imgsaved1112/yuvimg_on_3way.zip
captureOpenCV_backup1113.c
